.ipynb_checkpoints/
__pycache__/
*.swp
*.swo
Sort/*
config/*
data/*
*.pkl
*.db
.devcontainer.json
.gitattributes
.gitconfig
.last_checked
build/
dist/
docker-compose.yml
file_extensions.txt
mlseo.egg-info/
